.containerList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;

    margin-block: 1rem;
}

.containerList h1 {
    margin-bottom: 0.5rem;
}

.containerList span {
    font-size: 1rem;
}

.containerList ul {
    width: 40rem;
}

.containerList ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 0.5rem;

    list-style: none;
}

.containerList div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerList div a {
    margin-right: 0.5rem;

    color: #BE123C;
    text-decoration: none;
}

.containerList div button {
    background: #BE123C;
    padding: 0.25rem;
    border: none;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 700px) {
    .containerList ul {
        width: 20rem;
    }
}